In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the warehouse DB
conn = sqlite3.connect("retail_dw.db")

# Roll-up: Total sales by country and quarter
query_rollup = """
SELECT Country, Quarter, SUM(TotalSales) AS TotalSales
FROM SalesFact sf
JOIN TimeDim td ON sf.InvoiceDate = td.Date
GROUP BY Country, Quarter
ORDER BY Country, Quarter;
"""

# Drill-down: Sales details for a specific country by month
query_drilldown = """
SELECT Country, Month, SUM(TotalSales) AS TotalSales
FROM SalesFact sf
JOIN TimeDim td ON sf.InvoiceDate = td.Date
WHERE Country = 'Kenya'
GROUP BY Country, Month
ORDER BY Month;
"""

# Slice: Total sales for electronics category
query_slice = """
SELECT Category, SUM(TotalSales) AS TotalSales
FROM SalesFact
WHERE Category = 'Electronics'
GROUP BY Category;
"""

# Execute and show results
df_rollup = pd.read_sql(query_rollup, conn)
df_drilldown = pd.read_sql(query_drilldown, conn)
df_slice = pd.read_sql(query_slice, conn)

print("\n--- ROLL-UP ---")
print(df_rollup.head())
print("\n--- DRILL-DOWN ---")
print(df_drilldown.head())
print("\n--- SLICE ---")
print(df_slice)

# Visualization (bar chart for roll-up)
plt.figure(figsize=(8,5))
for country in df_rollup['Country'].unique():
    country_data = df_rollup[df_rollup['Country'] == country]
    plt.plot(country_data['Quarter'], country_data['TotalSales'], marker='o', label=country)

plt.title("Total Sales by Country and Quarter")
plt.xlabel("Quarter")
plt.ylabel("Total Sales")
plt.legend()
plt.grid(True)
plt.savefig("sales_by_country_quarter.png")
plt.show()

conn.close()

DatabaseError: Execution failed on sql '
SELECT Country, Month, SUM(TotalSales) AS TotalSales
FROM SalesFact sf
JOIN TimeDim td ON sf.InvoiceDate = td.Date
WHERE Country = 'Kenya'
GROUP BY Country, Month
ORDER BY Month;
': no such column: Month